/* COLORS ======= */


$black: #000;
$dark-neutral: #252525;
$medium-neutral: #888888;
$light-neutral: #AAA;
$white: #FFF;

$action: #ff4000;
$secondary: #F63 ;


/* EM Converter */

@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/



@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}


/* Transition */

@mixin quarter-second-transition{
-webkit-transition-duration: .25s;
-moz-transition-duration: .25s;
-ms-transition-duration: .25s;
-o-transition-duration: .25s;
transition-duration: .25s;
}

/* Round Corner */

@mixin half-em-border-radius{

-webkit-border-radius: .5em;
-moz-border-radius: .5em;
-ms-border-radius: .5em;
-o-border-radius: .5em;
border-radius:.5em;
}

/* Drop Shadow */

@mixin drop-shadow{

-webkit-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.8); //, 0 0.1em 0.4em $black;
-moz-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.8); //, 0 0.1em 0.4em $black;
-ms-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.8); //, 0 0.1em 0.4em $black;
-o-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.8); //, 0 0.1em 0.4em $black;
box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.8); //, 0 0.1em 0.4em $black;

}